extends layout

block content
  h1= title
  p Welcome to #{title}
  if views
    p #{views} views
    a(href="/") Count + 1
    br
    br
    a(href="/reset") Reset count
  else
    a(href="/") Start counting
